section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: 11px 30px;
    float: right;
}

button:hover {
    opacity: 90%;
}

.locations {
    border-right: #DDDDDD solid 1px;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 30px;
    text-align: left;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px 30px;
    text-align: left;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    text-align: left;
    margin-top: 20px;
    padding: 5px 20px;
}

.popover h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.popover li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

/* Responsive design elements for smaller screens */
@media (max-width: 768px) {
    section.filters {
        height: 85px;
    }

    button {
        width: 30%;
        margin: 18px 20px;
    }

    .locations,
    .amenities {
        width: 28%;
    }
}